In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Statistics-With-Python-TheCompleteGuide/main/Titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
s = df['Name'][0:10]

In [9]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [10]:
len(s)

10

In [12]:
type(s)

pandas.core.series.Series

In [14]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [18]:
 s1 = pd.Series(len(s),index = l)

In [17]:
s[0]

'Braund, Mr. Owen Harris'

In [19]:
s1[0]

10

In [24]:
s2 = s1.append(s)

C:\Users\DELL\AppData\Local\Temp\ipykernel_17884\2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [25]:
s2

a                                                   10
b                                                   10
c                                                   10
d                                                   10
e                                                   10
f                                                   10
g                                                   10
h                                                   10
i                                                   10
j                                                   10
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [26]:
s2[0]

'Braund, Mr. Owen Harris'

In [27]:
s2[4]

'Allen, Mr. William Henry'

In [29]:
s4 = pd.Series([2,3,4,6,4] , index = [2,3,4,5,1])

In [30]:
s5 = pd.Series([22,23,43,12,54] , index = [24,65,76,87,34])

In [31]:
s6 = s4.append(s5)

C:\Users\DELL\AppData\Local\Temp\ipykernel_17884\937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [32]:
s6

2      2
3      3
4      4
5      6
1      4
24    22
65    23
76    43
87    12
34    54
dtype: int64

In [33]:
s6[4]

4

In [34]:
s6[0:5]

2    2
3    3
4    4
5    6
1    4
dtype: int64

In [35]:
s4

2    2
3    3
4    4
5    6
1    4
dtype: int64

In [36]:
s5

24    22
65    23
76    43
87    12
34    54
dtype: int64

In [37]:
s4 * s5

1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
24   NaN
34   NaN
65   NaN
76   NaN
87   NaN
dtype: float64

In [38]:
s4 + s5

1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
24   NaN
34   NaN
65   NaN
76   NaN
87   NaN
dtype: float64